/*Inline SCSS Styles*/
/*
 *
 * Marketplace branding changes
 *
 */
.B, .b {
  font-weight: bold !important; }

.light {
  color: #fff !important; }

.dark {
  color: #444444 !important; }

.blue {
  color: #0e94f7 !important; }

.p {
  font-family: "Open sans", Arial, Helvetica sans-serif;
  font-size: 16px;
  color: #444444;
  font-weight: normal;
  line-height: 24px;
  mso-line-height-rule: exactly; }
  .p--2 {
    font-size: 16px;
    color: #333333; }
  .p--white {
    color: #fff !important; }
  .p--3 {
    font-size: 11px;
    color: #717171; }
  .p--thin {
    font-weight: 300; }
  .p-rw {
    color: #333333;
    line-height: 26px;
    font-size: 18px;
    font-family: "Open sans", Arial, Helvetica sans-serif;
    font-weight: 100; }
  .p-rw--2 {
    font-size: 14px;
    color: #999999; }

.heading {
  font-family: "Open sans", Arial, Helvetica sans-serif;
  font-weight: bold;
  color: #444444; }
  .heading--primary {
    font-size: 28px;
    line-height: 36px; }
  .heading--secondary {
    font-size: 22px;
    line-height: 30px; }
  .heading--tertiary {
    font-size: 18px;
    line-height: 26px; }

.link {
  text-decoration: none; }
  .link--blue {
    color: #0771c4; }
  .link-rw {
    color: #4787FF;
    line-height: 26px;
    font-size: 18px;
    font-family: "Open sans", Arial, Helvetica sans-serif;
    font-weight: bold; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.curve-down {
  height: 26px;
  background-color: #FFCC02;
  border-bottom-left-radius: 65% 45%;
  border-bottom-right-radius: 65% 45%;
  visibility: visible;
  max-height: inherit;
  overflow: visible; }

.link {
  text-decoration: none !important; }
  .link-blue {
    color: #0e94f7;
    font-family: "Open sans", Arial, Helvetica sans-serif;
    text-decoration: none; }

.hero-banner {
  background-color: #0766BC; }

.footer-text {
  color: #444444;
  font-family: "Open sans", Arial, Helvetica sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 70%; }
  .footer-text .link {
    color: #0e94f7;
    text-decoration: none; }

.rentalcars-ringo {
  border: 0;
  display: block;
  height: 42px;
  -ms-interpolation-mode: bicubic;
  width: 30px; }

.notification {
  width: 610px; }
  .notification--info {
    border-left: 5px solid #0F6193;
    background-color: #E7EFF4; }
  .notification--negative {
    border-left: 5px solid #930F0F;
    background-color: #F4E7E7; }
  .notification--positive {
    border-left: 5px solid #0F9354;
    background-color: #E7F4ED; }

html,
body {
  font-size: 16px;
  font-family: "Open sans", Arial, Helvetica sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.preheader {
  background-color: #eeeeee;
  border-collapse: collapse;
  width: 100%; }
  .preheader td {
    font-family: "Open sans", Arial, Helvetica sans-serif;
    text-decoration: none;
    font-size: 11px;
    color: #999999;
    font-weight: normal; }
  .preheader a {
    font-size: 11px;
    color: #999999;
    text-decoration: underline; }
  .preheader-blue {
    background: #0e94f7;
    border-collapse: collapse;
    color: #fdfefe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center; }
  .preheader-link {
    color: #fdfefe;
    font-size: 11px;
    font-weight: bold; }

.link--gray {
  text-decoration: none;
  font-size: 16px;
  color: #444444; }

.logo .rc-logo {
  border: 0;
  color: #0e94f7;
  display: block;
  font-family: "Open sans", Arial, Helvetica sans-serif;
  font-size: 18px;
  height: 39px;
  width: 230px; }

.spacer-1-h {
  line-height: 1px;
  font-size: 1px;
  height: 1px; }

.spacer-5-h {
  line-height: 5px;
  font-size: 5px;
  height: 5px; }

.spacer-10-h {
  line-height: 10px;
  font-size: 10px;
  height: 10px; }

.spacer-15-h {
  line-height: 15px;
  font-size: 15px;
  height: 15px; }

.spacer-20-h {
  line-height: 20px;
  font-size: 20px;
  height: 20px; }

.spacer-25-h {
  line-height: 25px;
  font-size: 25px;
  height: 25px; }

.spacer-30-h {
  line-height: 30px;
  font-size: 30px;
  height: 30px; }

.spacer-40-h {
  line-height: 40px;
  font-size: 40px;
  height: 40px; }

.spacer-1-w {
  width: 1px; }

.spacer-5-w {
  width: 5px; }

.spacer-10-w {
  width: 10px; }

.spacer-15-w {
  width: 15px; }

.spacer-20-w {
  width: 20px; }

.spacer-25-w {
  width: 25px; }

.spacer-30-w {
  width: 30px; }

.spacer-50-w {
  width: 50px; }

.spacer-70-w {
  width: 70px; }

.spacer-100-w {
  width: 100px; }

.spacer-160-w {
  width: 160px; }

.spacer-180-w {
  width: 180px; }

.spacer-450-w {
  width: 450px; }

.blue_line {
  border-bottom: 3px solid #0E94F7; }

.tbl-610 {
  width: 610px; }

.tbl-295 {
  width: 295px; }

.tbl-550 {
  width: 550px; }

.tbl-100 {
  width: 100%; }

.img {
  border: none;
  display: block; }
  .img--padding-left {
    padding-left: 10px; }

.text {
  font-family: "Open sans", Arial, Helvetica sans-serif;
  font-size: 16px; }

.button {
  border-radius: 4px; }
  .button--td-primary {
    height: 45px;
    width: 230px;
    background-color: #0e94f7; }
  .button--td-secondary {
    height: 45px;
    width: 230px;
    background-color: #5cb85c; }
  .button--td-grey {
    height: 45px;
    width: 230px;
    border: 1px solid #DDDDDD;
    background-color: #fdfefe; }
  .button--td-fixed {
    width: 100%; }
  .button--a-primary {
    padding: 5px 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: #0e94f7;
    color: #fff;
    border: 10px solid #0e94f7;
    border-radius: 4px; }
  .button--a-secondary {
    padding: 5px 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: #5cb85c;
    color: #fff;
    border: 10px solid #5cb85c;
    border-radius: 4px; }
  .button--a-grey {
    padding: 5px 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: #fdfefe;
    color: #444444;
    border: 10px solid #fdfefe;
    border-radius: 4px; }

.border-bottom--gray {
  border-bottom: 1px solid #c7c7c7; }

.blue-strip {
  height: 10px;
  line-height: 10px;
  line-height: 24px;
  padding: 10px 10px 10px 20px;
  border-radius: 4px 4px 0 0;
  mso-line-height-rule: exactly; }

.shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.12); }

.border-radius {
  border-radius: 4px; }

.bg-white {
  background-color: #fff; }

.white {
  color: #fff; }

.previewText {
  display: none;
  font-size: 1px;
  color: #333333;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

.weblinkText {
  font-size: 12px;
  color: #212121; }

.body {
  width: 100%;
  background-color: #ccc; }

.mp-container {
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden; }

.mp-footer {
  background: #212121; }
  .mp-footer-paragraph {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif; }

.mp-content {
  background-color: #fff;
  text-align: center !important;
  font-size: 30px;
  color: #006092;
  font-family: "Open sans", Arial, Helvetica sans-serif;
  font-weight: bold;
  line-height: 1; }
  .mp-content-2 {
    font-size: 24px;
    font-weight: 400;
    color: #212121; }

.hero {
  width: 610px;
  background-color: #006092;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.12); }
  .hero-icon {
    width: 610px;
    background-color: #ffffff;
    border-top: 1px solid #006092; }
    .hero-icon.make-green {
      background-color: #eff8ef;
      border-top: 1px solid #5cb85c; }
      .hero-icon.make-green .m-font-30 {
        color: #5cb85c; }
        .hero-icon.make-green .m-font-30 a {
          color: #5cb85c; }
    .hero-icon.make-orange {
      background-color: #fff3e6;
      border-top: 1px solid #f80; }
      .hero-icon.make-orange .m-font-30 {
        color: #f80; }
        .hero-icon.make-orange .m-font-30 a {
          color: #f80; }
    .hero-icon.make-red {
      background-color: #fce6e6;
      border-top: 1px solid #d00; }
      .hero-icon.make-red .m-font-30 {
        color: #d00; }
        .hero-icon.make-red .m-font-30 a {
          color: #d00; }
    .hero-icon.make-holidays {
      background-color: #bee3be;
      border-top: 3px solid #408140; }
      .hero-icon.make-holidays .m-font-30 {
        color: #408140; }
        .hero-icon.make-holidays .m-font-30 a {
          color: #408140; }
      .hero-icon.make-holidays .m-font-20 {
        color: #2e5c2e; }
        .hero-icon.make-holidays .m-font-20 a {
          color: #2e5c2e; }
    .hero-icon.make-blue {
      background-color: #9fd4fc;
      border-top: 3px solid #0a68ad; }
      .hero-icon.make-blue .m-font-30 {
        color: #0a68ad; }
        .hero-icon.make-blue .m-font-30 a {
          color: #0a68ad; }
      .hero-icon.make-blue .m-font-20 {
        color: #074a7c; }
        .hero-icon.make-blue .m-font-20 a {
          color: #074a7c; }
    .hero-icon.make-lightblue {
      background-color: #e7f4fe;
      border-top: 3px solid #0a68ad;
      border-bottom: 1px solid #9fd4fc; }
      .hero-icon.make-lightblue .m-font-30 {
        color: #0a68ad; }
        .hero-icon.make-lightblue .m-font-30 a {
          color: #0a68ad; }
      .hero-icon.make-lightblue .m-font-20 {
        color: #074a7c; }
        .hero-icon.make-lightblue .m-font-20 a {
          color: #074a7c; }
    .hero-icon .m-font-30 {
      color: #006092; }
  .hero .m-font-30 {
    color: #ffffff; }
    .hero .m-font-30 a {
      color: #ffffff; }
  .hero .m-font-20 {
    color: #ffffff; }
    .hero .m-font-20 a {
      color: #ffffff; }

.hero-container {
  background-color: #006092; }
  .hero-container .mp-content {
    color: #fff;
    background-color: #006092; }
    .hero-container .mp-content-2 {
      color: #fff; }

.p-mp-2 {
  font-size: 20px;
  font-weight: 400;
  color: #006092;
  font-weight: bold; }

.btn {
  border-radius: 4px;
  width: 100%;
  background-color: #0e94f7; }
  .btn-cell {
    padding: 0;
    border: 1px solid #0e94f7; }
    .btn-cell a {
      margin: 0; }
  .btn-link {
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
    border: 5px solid #0e94f7;
    display: inline-block;
    font-weight: bold; }

.make-green .btn {
  background-color: #5cb85c; }
  .make-green .btn-cell {
    border: 1px solid #5cb85c; }
  .make-green .btn-link {
    border: 5px solid #5cb85c; }

.make-grey .btn {
  background-color: #eeeeee; }
  .make-grey .btn-cell {
    border: 1px solid #5cb85c; }
  .make-grey .btn-link {
    border: 5px solid #5cb85c; }

.make-orange .btn {
  background-color: #f80; }
  .make-orange .btn-cell {
    border: 1px solid #f80; }
  .make-orange .btn-link {
    border: 5px solid #f80; }

.make-red .btn {
  background-color: #d00; }
  .make-red .btn-cell {
    border: 1px solid #d00; }
  .make-red .btn-link {
    border: 5px solid #d00; }

.h2-block .m-padding {
  background-color: #eeeeee;
  padding: 20px; }

.text-bold {
  font-weight: bold; }

.text-normal {
  font-weight: normal; }

.h2.make-standard {
  background-color: #eeeeee; }
  .h2.make-standard font {
    color: #006092; }

.h2.make-blue {
  background-color: #fff; }
  .h2.make-blue font {
    color: #006092; }
