/*Inline SCSS Styles*/
@import 'tableWARE/colors';
@import 'brand/b-marketplace';
@import 'tableWARE/typography';
@import 'tableWARE/mixins';
@import 'tableWARE/template';
@import 'tableWARE/core';

.previewText {
	display: none;
	font-size: 1px;
	color: #333333;
	line-height: 1px;
	max-height: 0px;
	max-width: 0px;
	opacity: 0;
	overflow: hidden;
}

.weblinkText {
	font-size: 12px;
	color: $mp-dark-grey;
}

.body {
	width: 100%;
	background-color: $mp-grey;
}



.mp-container {
	margin: 0 auto;
	background: $mp-white;
	overflow: hidden;
}

.mp-footer {
	background: $mp-dark-grey;

	&-paragraph {
		font-size: 12px;
		text-align: center;
		margin-bottom: 20px;
		color: $mp-white;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	}
}


.mp-content {
	background-color: $white; 
	text-align: center !important;
	font-size: 30px;
	color: $mp-blue; 
	font-family: $font-family;
	font-weight: bold;
	line-height: 1;

	&-2 {
		font-size: 24px; 
		font-weight: 400;
		color: $mp-dark-grey;
	}
}

.hero {
	width: 610px;
	background-color: $mp-blue;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 2px 6px 0 rgba(0,0,0,0.12);

	&-icon {
		width: 610px;
		background-color: #ffffff;
		border-top: 1px solid $mp-blue;
		
		&.make-green {
			background-color: mix($mp-green, #fff, 10);
			border-top: 1px solid $mp-green;
			.m-font-30 {
				color: $mp-green;
				a {
					color: $mp-green;
				}
			}
		}
		
		&.make-orange {
			background-color: mix($mp-orange, #fff, 10);
			border-top: 1px solid $mp-orange;
			.m-font-30 {
				color: $mp-orange;
				a {
					color: $mp-orange;
				}
			}
		}
		
		&.make-red {
			background-color: mix($mp-red, #fff, 10);
			border-top: 1px solid $mp-red;
			.m-font-30 {
				color: $mp-red;
				a {
					color: $mp-red;
				}
			}
		}
		
		&.make-holidays {
			background-color: mix($mp-green, #fff, 40);
			border-top: 3px solid mix($mp-green, $black, 70);
			.m-font-30 {
				color: mix($mp-green, $black, 70);
				a {
					color: mix($mp-green, $black, 70);
				}
			}

			.m-font-20 {
				color: mix($mp-green, $black, 50);
				a {
					color: mix($mp-green, $black, 50);
				}
			}
		}
		
		&.make-blue {
			background-color: mix($rc-dodger-blue, #fff, 40);
			border-top: 3px solid mix($rc-dodger-blue, $black, 70);
			.m-font-30 {
				color: mix($rc-dodger-blue, $black, 70);
				a {
					color: mix($rc-dodger-blue, $black, 70);
				}
			}

			.m-font-20 {
				color: mix($rc-dodger-blue, $black, 50);
				a {
					color: mix($rc-dodger-blue, $black, 50);
				}
			}
		}

		&.make-lightblue {
			background-color: mix($rc-dodger-blue, #fff, 10);
			border-top: 3px solid mix($rc-dodger-blue, $black, 70);
			border-bottom: 1px solid mix($rc-dodger-blue, #fff, 40);
			.m-font-30 {
				color: mix($rc-dodger-blue, $black, 70);
				a {
					color: mix($rc-dodger-blue, $black, 70);
				}
			}

			.m-font-20 {
				color: mix($rc-dodger-blue, $black, 50);
				a {
					color: mix($rc-dodger-blue, $black, 50);
				}
			}
		}

		

		.m-font-30 {
			color: $mp-blue;
		}

	}

	.m-font-30 {
		color: #ffffff;
		a {
			color: #ffffff;
		}
	}

	.m-font-20 {
		color: #ffffff;
		a {
			color: #ffffff;
		}
	}
}

.hero-container {

	background-color: $mp-blue; 
	.mp-content {
		color: $white;
		background-color: $mp-blue; 


		&-2 {
		color: $white;
		}
	}
}

.p-mp-2 {
	font-size: 20px; 
	font-weight: 400;
	color: $mp-blue; 
	font-weight: bold;
}

.btn {
	border-radius: 4px;
	width: 100%;
	background-color: $rc-dodger-blue;

	&-cell {
		padding: 0;
		border: 1px solid $rc-dodger-blue;

		a {
			margin: 0;
		}
	}

	&-link {
		font-size: 16px;
		font-family: 'Open Sans', Arial, sans-serif;
		color: $mp-white;
		text-decoration: none;
		border-radius: 4px;
		padding: 5px;
		border: 5px solid $rc-dodger-blue;
		display: inline-block;
		font-weight: bold;
	}
}

.make-green {
	.btn {
		background-color: $mp-green;
		&-cell {
			border: 1px solid $mp-green;
		}

		&-link {
			border: 5px solid $mp-green;
		}
	}
}

.make-grey {
	.btn {
		background-color: $rc-gallery;
		&-cell {
			border: 1px solid $mp-green;
		}

		&-link {
			border: 5px solid $mp-green;
		}
	}
}

.make-orange {
	.btn {
		background-color: $mp-orange;
		&-cell {
			border: 1px solid $mp-orange;
		}

		&-link {
			border: 5px solid $mp-orange;
		}
	}
}

.make-red {
	.btn {
		background-color: $mp-red;
		&-cell {
			border: 1px solid $mp-red;
		}

		&-link {
			border: 5px solid $mp-red;
		}
	}
}

.h2-block {
	.m-padding {
		background-color: $rc-gallery;
		padding: 20px;
	}
}

.text-bold {
	font-weight: bold;
}

.text-normal {
	font-weight: normal;
}

.h2 {
	&.make-standard {
		background-color: $rc-gallery;

		font {
			color: $mp-blue;
		}
	}

	&.make-blue {
		background-color: $white;

		font {
			color: $mp-blue;
		}
	}
}
