
// ==========================================================================
// Rentalcars.com Colour Palette
// ==========================================================================

// whites
$white: #ffffff;
$rc-white: #fdfefe;

// black
$black: #000000;

// greys
$rc-thunder: #222222;
$rc-mineshaft: #333333;
$rc-tundora: #444444;
$rc-dove-gray: #717171;
$rc-silver: #c7c7c7;
$rc-alto: #dddddd;
$rc-gallery: #eeeeee;

// blues
$rc-dodger-blue: #0e94f7;
$rc-azure-radiance: #0E94F8;
$rc-science-blue: #0771c4;
$rc-hero-blue: #0766BC;

//greens
$rc-turquoise: #46e0c6;
$rc-spring-green: #0ae791;
$rc-emerald: #56d07d;
$rc-salem: #0F9354;

// others
$rc-purple: #669;
$rc-crusta-orange: #ff7c33;
$rc-supernova: #ffcc02;
$rc-pomegranate: #ed342f;

// buttons
$button-primary:$rc-emerald;
$button-secondary-1:$rc-azure-radiance;
$button-secondary-2:$rc-gallery;
$button-secondary-3:$white;

// ==========================================================================
// Rideways.com Colour Palette
// ==========================================================================

// whites
$rw-seashell: #f1f1f1;

// black
$black: #000000;

// greys
$rw-mineshaft: #333333;
$rw-dusty-gray: #999999;
$rw-gray: #888888;
$rw-alto: #DDDDDD;

// blues
$rw-fun-blue: #1B59A6;
$rw-dodger-blue: #4787FF;
$rw-blue-ribbon: #1466FF;

//greens
$rw-salem: #038348;
$rw-green-haze: #00A559;

// others
$rw-red: #FF001A;

// buttons
$button-primary:$rw-salem;
$button-secondary-1:$rw-dodger-blue;
$button-secondary-2:$rw-seashell;


// ==========================================================================
// Marketplace Colour Palette
// ==========================================================================

// whites
$mp-white: $white;

// black
$black: #000000;

// greys
$mp-dark-grey: #212121;
$mp-mid-grey: $rc-tundora;
$mp-grey: #ccc;

// blues
$mp-blue: #006092;

//greens
$mp-green: #5cb85c;
$mp-dark-green: mix($mp-green, #000, 50%);

// others
$mp-red: #d00;

// buttons
$button-primary: $rc-dodger-blue;
$button-secondary-1: $mp-green;
$button-secondary-2: $rc-white;
