
// Make type normal across browsers
html,
body {
    font-size: $base-font-size;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// PREHEADER
.preheader {
	background-color: $rc-gallery;
	border-collapse: collapse;
	width: 100%;

	td {
		font-family: $font-family;
		text-decoration: none; 
		font-size: $quinternary-text;
		color: #999999; 
		font-weight:normal; 
	}

	a {
		font-size: $quinternary-text;
		color: #999999; 
		text-decoration: underline;
	}

	&-blue {
		background: $rc-dodger-blue;
		border-collapse: collapse;
		color: $rc-white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: $quinternary-text;
		text-align: center;
	}

	&-link {
		color: $rc-white;
		font-size: $quinternary-text;
		font-weight: $bold;
	}
}

.link--gray {
	text-decoration: none; font-size: 16px; color: #444444
}


// HEADER AREA
.logo {

	.rc-logo {
	    border: 0;
	    color: $rc-dodger-blue;
	    display: block;
	    font-family: $font-family;
	    font-size: $tertiary-heading;
	    height: 39px;
	    width: 230px;
  	}
}


.spacer {

	&-1-h {
		@include height(1px);
	}

	&-5-h {
		@include height(5px);
	}

	&-10-h {
		@include height(10px);
	}

	&-15-h {
		@include height(15px);
	}

	&-20-h {
		@include height(20px); 
	}

	&-25-h {
		@include height(25px);
	}

	&-30-h {
		@include height(30px);
	}

	&-40-h {
		@include height(40px);
	}

	&-1-w {
		@include width(1px);
	}

	&-5-w {
		@include width(5px);
	}

	&-10-w {
		@include width(10px);
	}

	&-15-w {
		@include width(15px);
	}

	&-20-w {
		@include width(20px);
	}

	&-25-w {
		@include width(25px);
	}

	&-30-w {
		@include width(30px);
	}

	&-50-w {
		@include width(50px);
	}

	&-70-w {
		@include width(70px);
	}

	&-100-w {
		@include width(100px);
	}

	&-160-w {
		@include width(160px);
	}

	&-180-w {
		@include width(180px);
	}

	&-450-w {
		@include width(450px);
	}
}

.blue_line {
  	border-bottom: 3px solid #0E94F7;
}

.tbl {

  &-610 {
    width: 610px;
  }

  &-295 {
    width: 295px
  }

  &-550 {
    width: 550px
  }

  &-100 {
    width: 100%;
  }
}

.img {
	border:none; 
	display: block; 

	&--padding-left {
		padding-left: 10px;
	}
}

.text {
	font-family: $font-family;
	font-size: $paragraph-text;
}

// New Buttons
.button {
  border-radius: 4px;

  &--td-primary {
    height: 45px; width: 230px;
    background-color: $button-primary;
  }

  &--td-secondary {
    height: 45px; width: 230px;
    background-color: $button-secondary-1;
  }

  &--td-grey {
    height: 45px; width: 230px;
    border: 1px solid #DDDDDD;
    background-color: $button-secondary-2;
  }

  &--td-fixed {
    width: 100%;
  }

  &--a-primary {
    padding: 5px 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: $button-primary;
    color: $white;
    border: 10px solid $button-primary;
    border-radius: 4px;
  }

  &--a-secondary {
    padding: 5px 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: $button-secondary-1;
    color: $white;
    border: 10px solid $button-secondary-1;
    border-radius: 4px;
  }

  &--a-grey {
    padding: 5px 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: $button-secondary-2;
    color: $dark;
    border: 10px solid $button-secondary-2;
    border-radius: 4px;
  }
}

.border-bottom {
    &--gray {
      border-bottom: 1px solid $rc-silver;
    } 
}

.blue-strip {
	height: 10px; 
	line-height: 10px; 
	line-height:24px; 
	padding:10px 10px 10px 20px; 
	border-radius: 4px 4px 0 0; 
	mso-line-height-rule: exactly;
}


.shadow {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 2px 6px 0 rgba(0,0,0,0.12);
}

.border-radius {
    @include border-radius(4px);
}

.bg-white {
    background-color: $white;
}

.white {
    color: $white;
}
