/* RESET */

body {
	margin:0; 
	padding:0;
	width: 100%;
	height:100% !important;
}

img { 
	border:0; 
	height:auto; 
	line-height:100%; 
	outline:none; 
	text-decoration:none;
	max-width: 100%
}

table { 
	border-collapse:collapse !important;
}

/* CLIENT SPECIFIC STYLES */
/* Force Outlook to provide a "view in browser" message */
#outlook a {
	padding:0;
} 

.ReadMsgBody{
	width:100%;
}

.ExternalClass {
	width:100%;
	line-height: 100%;
	p,
	span,
	font,
	td,
	div {
		line-height: 100%;
	}
}

body, table, td, p, a, li, blockquote {
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust:100%;
} 

/* Remove spacing between tables in Outlook 2007 and up */
table, td {
	mso-table-lspace:0pt; 
	mso-table-rspace:0pt;
} 

/* Allow smoother rendering of resized image in Internet Explorer */
img {
	-ms-interpolation-mode:bicubic;
}
