.curve-down {
  height: 26px; 
  background-color: #FFCC02; 
  border-bottom-left-radius: 65% 45%; 
  border-bottom-right-radius: 65% 45%; 
  visibility: visible; 
  max-height: inherit; 
  overflow: visible;
}

.link {
  text-decoration: none !important;

  &-blue {
    color: $rc-dodger-blue;
    font-family: $font-family;
    text-decoration: none;
  }
}

.hero-banner {
  background-color: $rc-hero-blue;
}


.footer-text {

  color: $rc-tundora;
  font-family: $font-family;
  font-size: $tertiary-text;
  font-weight: $regular;
  width: 70%;

  .link {
    color: $rc-dodger-blue;
    text-decoration: none;
  }
}

.rentalcars {

  &-ringo {
    border: 0;
    display: block;
    height: 42px;
    -ms-interpolation-mode: bicubic;
    width: 30px;
  }
}

//NOTIFICATIONS

.notification {
   width: 610px;

  &--info {
    border-left:5px solid #0F6193; 
    background-color: #E7EFF4;
  }

  &--negative {
    border-left:5px solid #930F0F; 
    background-color: #F4E7E7;
  }

  &--positive {
    border-left: 5px solid #0F9354; 
    background-color: #E7F4ED;
  }
  
}