
// ==========================================================================
// Simple Typography Settings
// ==========================================================================


//Family
$font-family: 'Open sans', Arial, Helvetica sans-serif;

// Base Font for HTML
$base-font-size: 16px;

// Line Height
$primary-lineheight: 36px;
$secondary-lineheight: 30px;
$tertiary-lineheight: 26px;
$paragraph-lineheight: 24px;

//Sizes
$primary-heading: 28px;
$secondary-heading: 22px;
$tertiary-heading: 18px;
$paragraph-text: 16px;
$secondary-text: 16px;
$tertiary-text: 14px;
$quinternary-text: 11px;


//Weight
$extra-thin:100;
$thin: 300;
$bold: bold;
$regular: normal;

.B, .b {
	font-weight:$bold !important;
}

//Colors
$paragraph-color: $rc-tundora;
$dark: $rc-tundora;
$light: $white;

.light {
	color: $white !important;
}

.dark {
	color: $dark !important;
}

.blue {
	color: $rc-dodger-blue !important;
}

//Paragraphs

.p {
	font-family: $font-family;
	font-size: $paragraph-text;
	color: $dark;
	font-weight: $regular;
	line-height: $paragraph-lineheight;
	mso-line-height-rule: exactly;

	&--2 {
		font-size: $secondary-text;
		color: $rc-mineshaft;
	}

	&--white {
		color: $white !important;
	}

	&--3 {
		font-size: $quinternary-text;
		color: $rc-dove-gray;
	}
	&--thin {
		font-weight: $thin;
	}
	&-rw {
	    color: $rc-mineshaft; 
		line-height: $tertiary-lineheight;
		font-size: $tertiary-heading; 
	    font-family: $font-family;
		font-weight:$extra-thin;
	}
	&-rw--2 {
	    font-size: $tertiary-text;
		color: $rw-dusty-gray;
	}


}

//Headings

.heading {
   font-family: $font-family;
   font-weight: $bold;
   color: $dark;
   

  &--primary {
    font-size: $primary-heading;
    line-height: $primary-lineheight;
  }

  &--secondary {
    font-size: $secondary-heading;
    line-height: $secondary-lineheight;
  }

  &--tertiary {
    font-size: $tertiary-heading;
    line-height: $tertiary-lineheight;
  }
  
}


//Link (text)
.link  {
	text-decoration: none;
	&--blue {
		color: $rc-science-blue;
	}

	&-rw {
		color: $rw-dodger-blue;
		line-height: $tertiary-lineheight; 
		font-size: $tertiary-heading;
		font-family: $font-family; 
		font-weight:$bold;
	}
}

//Alignment
.text-left {
	text-align: left;

}
.text-center {
	text-align: center;

}
.text-right {
	text-align: right;

}

