/*
 *
 * Marketplace branding changes
 *
 */

// font size
$base-font-size: 16px;

// colors

$white: #fff;
$black: #000;
$black-90: mix($black, $white, 90%);
$black-80: mix($black, $white, 80%);
$black-70: mix($black, $white, 70%);
$black-60: mix($black, $white, 60%);
$black-50: mix($black, $white, 50%);
$black-40: mix($black, $white, 40%);
$black-30: mix($black, $white, 30%);
$black-20: mix($black, $white, 20%);
$black-10: mix($black, $white, 10%);
$black-5: mix($black, $white, 5%);
$black-4: mix($black, $white, 4%);
$black-3: mix($black, $white, 3%);
$black-2: mix($black, $white, 2%);
$black-1: mix($black, $white, 1%);

$mp-green: #5cb85c;
$mp-orange: #f80;
$mp-blue: #006092;

$rc-dodger-blue: #0e94f7;
$rc-science-blue: #0771c4;

//setting defaults
$default-color: $mp-blue;
$default-contrast: $white;

$primary-color: $rc-science-blue;
$primary-contrast: $white;

$success-color: $mp-green;
$success-contrast: $white;

$info-color: $mp-blue;
$info-contrast: $white;

$warning-color: $mp-orange;
$warning-contrast: $white;

$danger-color: $mp-red;
$danger-contrast: $white;

// padding
$padding: 20px;

// button border radius
$button-border-radius: 4px;

// font-stack
$font-stack: Helvetica, Arial, sans-serif;

// page background color
$p-bg-color: $black-2;

// email background color
$e-bg-color: $white;

// email border color
$e-bg-color: $black-20;