// setting colours

$default-color-90: mix($default-color, $white, 90%);
$default-color-80: mix($default-color, $white, 80%);
$default-color-70: mix($default-color, $white, 70%);
$default-color-60: mix($default-color, $white, 60%);
$default-color-50: mix($default-color, $white, 50%);
$default-color-40: mix($default-color, $white, 40%);
$default-color-30: mix($default-color, $white, 30%);
$default-color-20: mix($default-color, $white, 20%);
$default-color-10: mix($default-color, $white, 10%);
$default-color-5: mix($default-color, $white, 5%);
$default-color-4: mix($default-color, $white, 4%);
$default-color-3: mix($default-color, $white, 3%);
$default-color-2: mix($default-color, $white, 2%);
$default-color-1: mix($default-color, $white, 1%);

$primary-color-90: mix($primary-color, $white, 90%);
$primary-color-80: mix($primary-color, $white, 80%);
$primary-color-70: mix($primary-color, $white, 70%);
$primary-color-60: mix($primary-color, $white, 60%);
$primary-color-50: mix($primary-color, $white, 50%);
$primary-color-40: mix($primary-color, $white, 40%);
$primary-color-30: mix($primary-color, $white, 30%);
$primary-color-20: mix($primary-color, $white, 20%);
$primary-color-10: mix($primary-color, $white, 10%);
$primary-color-5: mix($primary-color, $white, 5%);
$primary-color-4: mix($primary-color, $white, 4%);
$primary-color-3: mix($primary-color, $white, 3%);
$primary-color-2: mix($primary-color, $white, 2%);
$primary-color-1: mix($primary-color, $white, 1%);

$success-color-90: mix($success-color, $white, 90%);
$success-color-80: mix($success-color, $white, 80%);
$success-color-70: mix($success-color, $white, 70%);
$success-color-60: mix($success-color, $white, 60%);
$success-color-50: mix($success-color, $white, 50%);
$success-color-40: mix($success-color, $white, 40%);
$success-color-30: mix($success-color, $white, 30%);
$success-color-20: mix($success-color, $white, 20%);
$success-color-10: mix($success-color, $white, 10%);
$success-color-5: mix($success-color, $white, 5%);
$success-color-4: mix($success-color, $white, 4%);
$success-color-3: mix($success-color, $white, 3%);
$success-color-2: mix($success-color, $white, 2%);
$success-color-1: mix($success-color, $white, 1%);

$info-color-90: mix($info-color, $white, 90%);
$info-color-80: mix($info-color, $white, 80%);
$info-color-70: mix($info-color, $white, 70%);
$info-color-60: mix($info-color, $white, 60%);
$info-color-50: mix($info-color, $white, 50%);
$info-color-40: mix($info-color, $white, 40%);
$info-color-30: mix($info-color, $white, 30%);
$info-color-20: mix($info-color, $white, 20%);
$info-color-10: mix($info-color, $white, 10%);
$info-color-5: mix($info-color, $white, 5%);
$info-color-4: mix($info-color, $white, 4%);
$info-color-3: mix($info-color, $white, 3%);
$info-color-2: mix($info-color, $white, 2%);
$info-color-1: mix($info-color, $white, 1%);

$warning-color-90: mix($warning-color, $white, 90%);
$warning-color-80: mix($warning-color, $white, 80%);
$warning-color-70: mix($warning-color, $white, 70%);
$warning-color-60: mix($warning-color, $white, 60%);
$warning-color-50: mix($warning-color, $white, 50%);
$warning-color-40: mix($warning-color, $white, 40%);
$warning-color-30: mix($warning-color, $white, 30%);
$warning-color-20: mix($warning-color, $white, 20%);
$warning-color-10: mix($warning-color, $white, 10%);
$warning-color-5: mix($warning-color, $white, 5%);
$warning-color-4: mix($warning-color, $white, 4%);
$warning-color-3: mix($warning-color, $white, 3%);
$warning-color-2: mix($warning-color, $white, 2%);
$warning-color-1: mix($warning-color, $white, 1%);

$danger-color-90: mix($danger-color, $white, 90%);
$danger-color-80: mix($danger-color, $white, 80%);
$danger-color-70: mix($danger-color, $white, 70%);
$danger-color-60: mix($danger-color, $white, 60%);
$danger-color-50: mix($danger-color, $white, 50%);
$danger-color-40: mix($danger-color, $white, 40%);
$danger-color-30: mix($danger-color, $white, 30%);
$danger-color-20: mix($danger-color, $white, 20%);
$danger-color-10: mix($danger-color, $white, 10%);
$danger-color-5: mix($danger-color, $white, 5%);
$danger-color-4: mix($danger-color, $white, 4%);
$danger-color-3: mix($danger-color, $white, 3%);
$danger-color-2: mix($danger-color, $white, 2%);
$danger-color-1: mix($danger-color, $white, 1%);

// padding
$padding: $base-padding;
$full-padding: $base-padding * 2;
$half-padding: $base-padding / 2;


