.a-button {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;

  &-table {
    border-collapse:collapse;
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
  }

  &-td {
    border-radius: $button-border-radius;
    background-color: $primary-color;
    text-align: center;
  }

  &-link {
    font-size: $font-size;
    font-family: $font-stack;
    text-decoration: none;
    text-decoration: none;
    border-radius: $button-border-radius;
    padding: $half-padding $padding;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
  }

  &.default {

    &-td {
      background-color: $default-color;
    }

    &-link {
      border-color: $default-color;
      color: $default-contrast;
    }
  }
  
  &.primary {

    &-td {
      background-color: $primary-color;
    }

    &-link {
      border-color: $primary-color;
      color: $primary-contrast;
    }
  }

  &.danger {

    &-td {
      background-color: $danger-color;
    }

    &-link {
      border-color: $danger-color;
      color: $danger-contrast;
    }
  }
}
